body {
    background-image: url("images/background.png");
}

.logo {
    font-family: 'Ruthie', cursive;
    font-size: 8rem;
    text-align: center;
}


.flip_chart {
    max-width: 300px;
    margin-right: 2em;
    margin-bottom: 1em;
}


@media print {
    a:after {
        content: " (" attr(href) ") ";
        font-size: 0.8em;
        font-weight: normal;
    }

    #logo:after {
        content: "";
    }


    #left_column, .flip_chart {
        display: none;
    }

    a {
        color: black;
    }
}