<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link href="https://fonts.googleapis.com/css?family=Ruthie" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="style.css"/>
</head>
<body>

<div class="container">
    <h1 class="logo">
        <a href="{{ site.github.url }}/index.html">
            Kata-Log
        </a>
    </h1>

    <div class="tile is-ancestor is-parent">
        <div class="tile is-child is-vertical is-4 is-spaced">

            <h1 class="title is-3">All Topics</h1>

            {% include sidebar.html %}

        </div>

        <div class="tile is-child is-vertical is-spaced is-centered">
            <h1 class="title is-3">{{ page.title }}</h1>
            <div class="content">
