
</div>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">

            <p>
                Comprehensive <strong>Kata-Log</strong> made for facilitators and dojo lovers.
                <br>
                All contents are <a href="http://unlicense.org">public domain</a> and can be used without any strings
                attached.
            </p>

            <p>
                Questions? Additions? Improvements?
                <br>

                Please

                <a href="https://github.com/Egga/kata-log/blob/master/README.md">
                    add a new kata
                </a>

                or

                <a href="https://github.com/Egga/kata-log/issues">
                    create an issue
                </a>
                .
            </p>

            <p>
                Proudly hosted <a href="https://github.com/">on GitHub</a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>
