<div class="box">
    <article class="media notification is-primary ">
        <figure class="media-left">
            <p class="image is-64x64">
                <a href="{{ include.post.url | prepend: site.github.url }}">
                    <img style="height: 64px" src="{{ site.github.url }}/images/default.jpg">
                </a>
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <a class="title is-3" href="{{ include.post.url | prepend: site.github.url }}">
                        <strong>{{ post.title }}</strong>
                    </a>
                    <br>

                    {% for category in post.categories %}

                    <a href="{{ site.github.url }}/{{ category | slugify }}.html">
                        {{ category }}
                    </a>

                    {% unless forloop.last %}
                    |
                    {% endunless %}

                    {% endfor %}
                </p>
            </div>
        </div>
    </article>
</div>
