<div class="notification is-primary">

<h3>Choose Your Level</h3>

<a class="tag" href="{{ site.github.url }}/starter.html">
    Starter
</a>

<br>

<a class="tag" href="{{ site.github.url }}/experienced.html">
    Experienced
</a>
</div>


<div class="notification is-primary">
<h3>Choose a Topic</h3>

{% assign topics = "TDD|Pair-Programming" | split: "|" %}

{% for topic in topics %}
<a class="tag" href="{{ site.github.url }}/{{ topic | downcase }}.html">
    {{ topic }}
</a><br>
{% endfor %}
</div>


<div class="notification is-primary">
<h3>Choose a Constraint</h3>
<a class="tag" href="{{ site.github.url }}/constraints.html">
    Constraints
</a>
</div>
