<div class="sidebox is-primary">

    <h2 class="title">Choose Your Level</h2>

    {% assign sorted_levels = site.levels | sort: 'order' %}
    {% for level in sorted_levels %}
    <div class="tag is-half-tile is-medium">
        <a class="menu_button" href="{{ level.url | prepend: site.github.url }}">
            <i class="fa {{ level.class }}" aria-hidden="true"></i>
            {{ level.category_name }}
        </a>
    </div>
    {% endfor %}

</div>


<div class="sidebox is-primary">
    <h2 class="title">Choose a Topic</h2>

    {% assign sorted_topics = site.topics | sort: 'category_name' %}
    {% for topic in sorted_topics %}
    <div class="tag is-half-tile is-medium">
        <a class="menu_button" href="{{ topic.url | prepend: site.github.url }}">
            {{ topic.category_name }}
        </a>
    </div>
    {% endfor %}

</div>


<div class="sidebox is-primary">
    <h2 class="title">Choose a Constraint</h2>

    {% assign sorted_constraints = site.constraints | sort: 'title' %}
    {% for constraint in sorted_constraints %}

    <div class="tag is-half-tile is-medium">

        <a class="menu_button" href="{{ constraint.url | prepend: site.github.url }}">
            {{ constraint.title }}
        </a>
    </div>
    {% endfor %}
</div>
